form {
  display: flex;
  flex-direction: column;
  margin: 2%;
  align-items: flex-end;
  margin-bottom: 3%;
}

.commentBox {
  width: 88vw;
  height: 3rem;
  padding: 0.5rem;
}
.submitButton {
  width: fit-content;
  padding: 1%;
}
label {
  width: 100%;
  text-align: left;
}
