.categoryCard {
  max-width: 36vw;

  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  text-align: center;
}
.categoryLinks {
  max-height: 36vw;
  width: 36vw;
  border: groove 2.5vw hsl(0, 0%, 95%);
  background-color: hsl(0, 0%, 95%);
  color: inherit;
}
.categoryHeading {
  font-size: medium;
  height: min-content;
  text-transform: capitalize;
}

.categoryImg {
  width: 20vw;
  height: 20vw;
}
.categoryText {
  margin: 0.2rem;
  text-align: justify;
}

@media only screen and (min-width: 600px) {
  .categoryCard {
    max-width: 20vw;
    margin: 2%;
  }
  .categoryImg {
    width: 20vw;
    height: 15vw;
  }
}
