.categoriesWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -1%;
  margin-left: -1%;
}

@media only screen and (min-width: 600px) {
  .categoriesWrapper {
    margin-left: 4%;
    margin-right: 4%;
  }
}
