.reviewsPage {
  margin: 1%;
}
.reviewsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: -2%;
  margin-left: -2%;
}

label {
  display: block;
}

@media only screen and (min-width: 600px) {
  .reviewsHeader {
    margin-left: 4%;
  }
  label {
    float: left;
    margin-right: 1em;
  }
  .reviewsWrapper {
    margin-left: 2%;
    margin-right: 2%;
  }
}
