.reviewsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -1%;
  margin-left: -1%;
}

.reviewsHeader {
  margin-left: 3%;
}

.categoryDropdown {
  text-transform: capitalize;
}

label {
  display: block;
}

@media only screen and (min-width: 600px) {
  .reviewsHeader {
    margin-left: 4%;
  }
  label {
    float: left;
    margin-right: 1em;
  }
  .reviewsWrapper {
    margin-left: 2%;
    margin-right: 2%;
  }
}
